<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">  
  <header>
  <h2>About Tweetful</h2>
  </header>
  <p>
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
  </p>
</section>

<section class="info">  
  <header>
    <h2>What Makes Us Different</h2>
  </header>
  <p>
    Eam ei hinc reque partem, vel nihil vituperata ut. Vix id modus facete quaestio, cum no wisi dicta reprimique. Lorem audire accusata ei duo. Mucius malorum mel cu. Possit menandri mediocrem id vim. Ut nam feugiat constituto.
  </p>
</section>

<section class="info">  
  <header>
    <h2>Company History</h2>
  </header>
  <p>
    Eam zril everti facilis ei. Adhuc principes aliquando mel ad, no qui inani phaedrum, utamur dissentiunt vel id. Iudico facilis nec cu. Has iriure imperdiet eu, soleat definitiones nam ea. Duo meis dolorum rationibus eu, ei magna altera eum, id pro iuvaret similique.
  </p>
</section>

<footer>
</footer>